<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA Recrutadora</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-Q8izPIyW9zTYSbSbAjGhk0zKJ8gZwleisnkzLWNaIVP8QzfwypLwYuJwPCBfBYKs3NvxOL3OkzJWzlnz\+kRoyGA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>

        body {
            background-color: #26292E;
        }

        #btn-microfone {
            /* Basic button styles */
        {#background-color: #007bff;#} color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .pulsating {
            /* Styles for the pulsating state (animation keyframes not included here) */
            animation: pulse 1.2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1); /* Tamanho inicial */
            }
            50% {
                transform: scale(1.1); /* Expande 10% */
            }
            100% {
                transform: scale(1); /* Retorna ao tamanho inicial */
            }
        }

        .loading-indicator {
            position: fixed; /* Position the indicator at the top of the viewport */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 9999; /* Ensure it's on top of other elements */
            display: flex; /* Center the content vertically and horizontally */
            align-items: center;
            justify-content: center;
        }

        .loading-spinner {
            width: 50px;
            height: 50px;
            border: 10px solid #f3f3f3; /* Light gray border */
            border-radius: 50%;
            border-top: 10px solid #3498db; /* Blue spinner color */
            animation: spin 1.2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .loading-text {
            color: #fff;
            font-size: 20px;
            margin-left: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <div id="loading-indicator" class="loading-indicator">
        <div class="loading-spinner"></div>
        <span class="loading-text">Carregando...</span>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Recrutadora Virtual e assosoria de currículos</h5>
                </div>
                <div class="card-body ">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Recrutadora Virtual</h5>
                    </div>
                    <div class="card-body ">
                        <div class="text-center fs-1" id="ai_recruiter">
                            <i class="fas fa-user"></i>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <label for="voices">Selecione a voz</label>
                                <select class="form-select" aria-label="Default select example" name="voices"
                                        id="voices"></select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button id="btn-voz" class="btn btn-secondary off">
                                     Voz <i class="fas fa-volume-mute"></i>
                                </button>
                                <button id="testar-voz" class="btn btn-secondary off">
                                    Testar Voz <i class="fas fa-volume-up"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Você</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-center fs-1" id="ai_recruiter">
                            <i class="fas fa-user"></i>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button id="btn-microfone" class="btn btn-danger" onclick='doStartStopCheck()'>
                                    <i class="fas fa-microphone"></i> Falar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Histórico</h5>
                </div>
                <div class="card-body">
                    <form id="formulario" class="mt-2 mb-2">
                        <input type="text" class="form-control" id="mensagem-usuario" name="mensagem-usuario"
                               placeholder="Envie sua mensagem para a Recrutadora Virtual">
                        <button type="button" onclick="enviarFormulario()" class="btn btn-primary mt-2"
                                id="enviar-mensagem">Enviar
                        </button>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div id="historico-mensagens">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var ongoing = false;
    var recognition = null;
    const btnMicrofone = document.getElementById('btn-microfone');
    const btnVoz = document.getElementById('btn-voz');

    if (typeof window.SpeechSynthesis === 'undefined') {
        // Navegador não suporta SpeechSynthesis
        alert('Seu navegador não suporta a funcionalidade de voz.');
    }

    function populateVoiceList() {
        if (typeof speechSynthesis === "undefined") {
            return;
        }

        const voices_select = speechSynthesis.getVoices();

        for (let i = 0; i < voices_select.length; i++) {
            const option = document.createElement("option");
            option.textContent = `${voices_select[i].name} (${voices_select[i].lang})`;

            if (voices_select[i].default) {
                option.textContent += " — DEFAULT";
            }

            option.setAttribute("data-lang", voices_select[i].lang);
            option.setAttribute("data-name", voices_select[i].name);
            document.getElementById("voices").appendChild(option);
        }
    }

    populateVoiceList();
    if (
        typeof speechSynthesis !== "undefined" &&
        speechSynthesis.onvoiceschanged !== undefined
    ) {
        speechSynthesis.onvoiceschanged = populateVoiceList;
    }

    $("#btn-voz").click(function () {
        if ($(this).hasClass("off")) {
            $(this).removeClass("off").addClass("on");
            $(this).find(".fas").removeClass("fa-volume-mute").addClass("fa-volume-up");
        } else {
            $(this).removeClass("on").addClass("off");
            $(this).find(".fas").removeClass("fa-volume-up").addClass("fa-volume-mute");
        }
    });

    function verificaStatus() {
        if (ongoing == true) {
            recognition.start();
        }
    }

    // Function to toggle the pulsating animation class
    function togglePulsating() {
        btnMicrofone.classList.toggle('pulsating');
    }

    function init() {
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.lang = 'pt-BR';

        const mensagem_usuario = document.querySelector('#mensagem-usuario');
        var mensagem;

        recognition.addEventListener('result', e => {
            const transcript = Array.from(e.results)
                .map(result => result[0])
                .map(result => result.transcript)
                .join('');

            mensagem = transcript + ", ";
            if (e.results[0].isFinal) {
                mensagem_usuario.value = mensagem_usuario.value + mensagem;
            }
        });
        recognition.addEventListener('end', verificaStatus);
        recognition.start();
    }

    function doStartStopCheck() {
        if (ongoing == true) { // se tiver rodando, vai interromper
            ongoing = false;
            recognition.stop();
            document.getElementById('btn-microfone').innerHTML = '<i class="fas fa-microphone"></i> Falar';
            // Perform actions on button click (e.g., start/stop speech recognition, etc.)
            togglePulsating(); // Optionally toggle pulsating animation on click
        } else if (recognition) { // se tiver instância SpeechRecognition, apenas reinicia
            ongoing = true;
            recognition.start();
            document.getElementById('btn-microfone').innerHTML = '<i class="fas fa-microphone"></i> Interromper';
            document.getElementById('btn-microfone').addC = '<i class="fas fa-microphone"></i> Interromper';
            // Perform actions on button click (e.g., start/stop speech recognition, etc.)
            togglePulsating(); // Optionally toggle pulsating animation on click
        } else { // se ainda não criou instância, chama a função para inicialização
            console.log("init");
            ongoing = true;
            init();
            document.getElementById('btn-microfone').innerHTML = '<i class="fas fa-microphone"></i> Interromper';
            // Perform actions on button click (e.g., start/stop speech recognition, etc.)
            togglePulsating(); // Optionally toggle pulsating animation on click
        }
    }

    function falar(mensagem) {
        {#$('.mensagem_recruiter').find( "#mensagem_1" )#}
        var voices = speechSynthesis.getVoices();
        // Get the selected voice from the dropdown
        const voicesSelect = document.getElementById('voices');
        const messageText = mensagem;
        let fala = new SpeechSynthesisUtterance(messageText)
        for (let i = 0; i < voices.length; i++) {
            const truncatedValue = voicesSelect.value.substring(0, voicesSelect.value.indexOf('(') - 1);
            if (voices[i].name === truncatedValue) {
                fala.voice = voices[i];
            }
        }
        const possuiClasseOn = btnVoz.classList.contains('on');

        if (possuiClasseOn) {
            window.speechSynthesis.speak(fala);
        }

    }

    $('#loading-indicator').hide()

    function enviarFormulario() {
        var url = location.origin + '/ajax_mensagem/';
        var form = document.getElementById('formulario');
        var mensagem = form.querySelector('input[name=mensagem-usuario]').value
        var dados = {
            'mensagem': mensagem
        }
        var mensagem = form.querySelector('input[name=mensagem-usuario]').value.trim(); // Trim leading/trailing spaces

        // Check if message is empty
        if (mensagem === "") {
            alert("Por favor, digite uma mensagem antes de enviar.");
            return; // Exit the function if empty
        }
        $.ajax({
            url: url,
            data: dados,
            type: "GET",
            beforeSend: function () {
                // Show a loading indicator
                $('#loading-indicator').show();
                const mensagemContainer = document.createElement('div');
                mensagemContainer.classList.add('mensagem_user', 'text-end');

                const autorSpan = document.createElement('span');
                autorSpan.textContent = "Você";
                mensagemContainer.appendChild(autorSpan);

                const br = document.createElement('br');
                mensagemContainer.appendChild(br);

                const mensagemSpan = document.createElement('span');
                mensagemSpan.textContent = mensagem;
                mensagemContainer.appendChild(mensagemSpan);

                document.getElementById('historico-mensagens').prepend(mensagemContainer);

            },
            progress: function (event) {
                // Update a progress bar based on event.loaded/event.total
                $('#progress-bar').width((event.loaded / event.total) * 100 + '%');
                $('#loading-indicator').show();
            },
            complete: function () {
                // Hide the loading indicator or progress bar
                $('#loading-indicator').hide();
                $('#progress-bar').width(0);
            },
            success: function (data) {
                // Create response element
                const responseContainer = document.createElement('div');
                responseContainer.classList.add('mensagem_recruiter', 'text-start');

                const autorSpan = document.createElement('span');
                autorSpan.textContent = "Recrutadora";
                responseContainer.appendChild(autorSpan);

                const br = document.createElement('br');
                responseContainer.appendChild(br);

                const responseSpan = document.createElement('span');
                responseSpan.textContent = data.mensagem; // Replace with the response received from the AI
                responseSpan.id = "mensagem_1"; // Set the ID for future updates
                responseContainer.appendChild(responseSpan);

                // Append response element to message history
                document.getElementById('historico-mensagens').prepend(responseContainer);

                // Clear user input field (optional)
                form.querySelector('input[name=mensagem-usuario]').value = '';
                falar(data.mensagem);
            },
            error: function (xhr, ajaxOptions, thrownError, data) {
                console.log(xhr.responseJSON);
                // Handle errors as needed
            }
        });

    }


    $(document).ready(function () {

        var button = document.getElementById('testar-voz')
        button.addEventListener('click', () => {
            let ut = new SpeechSynthesisUtterance('teste ok')
            window.speechSynthesis.speak(ut)
        })

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

</script>
</body>
</html>